<h1 align="center">{{ project_name }}</h1>

<div align="center">

{{ description }}

[![Lint]({{ repository }}/actions/workflows/lint.yaml/badge.svg)]({{ repository }}/actions/workflows/lint.yaml)
{%- if docs %}
[![Docs]({{ repository }}/actions/workflows/docs.yaml/badge.svg)]({{ repository }}/actions/workflows/docs.yaml)
{%- endif %}

</div>

---

## 💡 About

Treat this `README.md` as the landing page for people
that want to **use** your project.

Write here whatever you want to tell them.
{%- if docs %}

## 📄 Further Reading

More in-depth documentation can be found
[here]({{ docs_url }}).
{%- endif %}

## 💻 Development

Read more about how to contribute and develop the project
[here]({{ repository }}/blob/main/CONTRIBUTING.md).
